<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.cdn.azure.cn" value="https://nuget.cdn.azure.cn/v3/index.json" />
        <add key="cnblogs" value="https://nuget.cnblogs.com/v3/index.json" />
    </packageSources>
</configuration>