{
    "attributeGroups": ["^v-", "$DEFAULT"],
    "attributeSort": "ASC",
    "bracketSameLine": true,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-organize-attributes"],
    "printWidth": 150,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}