/* 全局 */
#app,
body,
html {
    width: 100%;
    height: 100%;
    background-color: var(--el-bg-color);
    font-size: var(--el-font-size-base);
    font-family: 'Microsoft YaHei', sans-serif;
}

a {
    color: var(--el-text-color-primary);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--el-color-black);
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: none !important;
    -webkit-appearance: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* 大布局样式 */
.admin-ui {
    display: flex;
    flex-flow: column;
}

.admin-ui-wrapper {
    display: flex;
    flex: 1;
    overflow: auto;
}

/* 全局滚动条样式 */
.scrollable {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, 0.6);
}

::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(50, 50, 50, 0.2);
}

/*布局设置*/
.layout-setting {
    position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem 0 0 0.3rem;
    bottom: 10rem;
    right: 0;
    z-index: 100;
    background: var(--el-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.layout-setting i {
    font-size: 1.3rem;
    color: var(--el-color-white);
}

/* 头部 */
.admin-ui-header {
    height: 4rem;
    background: var(--el-color-white);
    display: flex;
    justify-content: space-between;
    border-bottom: var(--el-border-color-lighter) 1px solid;
}

.admin-ui-header-left {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.admin-ui-header-right {
    display: flex;
    align-items: center;
}

.admin-ui-header .logo-bar {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.admin-ui-header .logo-bar .logo {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.logo-fill-color {
    position: relative;
    left: -10000px;
    filter: drop-shadow(var(--el-color-primary) 10000px 0);
}

.admin-ui-header .nav {
    display: flex;
    height: 100%;
    margin-left: 3rem;
}

.admin-ui-header .nav li {
    padding: 0 1rem;
    margin: 0 1rem 0 0;
    font-size: 1.1rem;
    color: var(--el-menu-text-color);
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.admin-ui-header .nav li i {
    margin-right: 0.3rem;
}

.admin-ui-header .nav li:hover {
}

.admin-ui-header .nav li.active {
    color: var(--el-color-primary);
}

.admin-ui-header .user-bar .panel-item:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

.user-bar {
    color: var(--el-menu-text-color);
}

/* 左侧菜单 */
.admin-ui-side-split {
    width: 5rem;
    flex-shrink: 0;
    background: var(--el-color-white);
    color: var(--el-menu-text-color);
    display: flex;
    flex-flow: column;
    border-right: var(--el-border-color-lighter) 1px solid;
}

.admin-ui-side-split-top {
    height: 4rem;
}

.admin-ui-side-split-top a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-ui-side-split-top .logo {
    height: 3rem;
    vertical-align: bottom;
}

.admin-ui-side-split-scroll {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    flex: 1;
}

.admin-ui-side-split li {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-ui-side-split li i {
    font-size: 1.5rem;
}

.admin-ui-side-split li p {
    margin-top: 0.5rem;
}

.admin-ui-side-split li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.admin-ui-side-split li.active {
    background: var(--el-color-primary);
    color: var(--el-color-white);
}

.admin-ui-side-split-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0.4rem;
}

.admin-ui-side-split-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.admin-ui-side-split-scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.admin-ui-side-split-scroll::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0);
}

.admin-ui-side {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    width: 15rem;
    background: var(--el-color-white);
    border-right: 1px solid var(--el-border-color-light);
    transition: width 0.3s;
}

.admin-ui-side-top {
    border-bottom: 1px solid var(--el-border-color-lighter);
    height: 4rem;
    line-height: 4rem;
}

.admin-ui-side-top h2 {
    padding: 0 var(--el-menu-base-level-padding);
    font-size: 1.3rem;
    color: var(--el-text-color-primary);
}

.admin-ui-side-scroll {
    overflow: auto;
    overflow-x: hidden;
    flex: 1;
}

.admin-ui-side-bottom {
    border-top: 1px solid var(--el-border-color-lighter);
    height: 4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-ui-side-bottom i {
    font-size: 1.3rem;
}

.admin-ui-side-bottom:hover {
    color: var(--el-color-primary);
}

.admin-ui-side.isCollapse {
    width: 5rem;
}

.el-menu .menu-tag {
    position: absolute;
    height: 1.4rem;
    line-height: 1.4rem;
    background: var(--el-color-danger);
    font-size: 0.9rem;
    color: var(--el-color-white);
    right: 1rem;
    border-radius: 1.5rem;
    padding: 0 0.5rem;
}

.el-menu--horizontal > li .menu-tag {
    display: none;
}

/* 右侧内容 */
.admin-ui-body {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.admin-ui-topbar {
    height: 3rem;
    border-bottom: 1px solid var(--el-border-color-lighter);
    background: var(--el-color-white);
    display: flex;
    justify-content: space-between;
}

.admin-ui-topbar .left-panel {
    display: flex;
    align-items: center;
}

.admin-ui-topbar .right-panel {
    display: flex;
    align-items: center;
}

.right-panel-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.admin-ui-tags {
    height: 3rem;
    background: var(--el-color-white);
    border-bottom: 1px solid var(--el-border-color-light);
}

.admin-ui-tags ul {
    display: flex;
    overflow: hidden;
}

.admin-ui-tags li {
    cursor: pointer;
    display: inline-block;
    height: calc(3rem - 1px);
    line-height: calc(3rem - 1px);
    position: relative;
    flex-shrink: 0;
}

.admin-ui-tags li::after {
    content: ' ';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: linear-gradient(var(--el-color-white), var(--el-border-color-light));
}

.admin-ui-tags li a {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    color: var(--el-color-info);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.admin-ui-tags li i {
    margin-left: 1rem;
    border-radius: 0.3rem;
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-ui-tags li i:hover {
    background: rgba(0, 0, 0, 0.2);
    color: var(--el-color-white);
}

.admin-ui-tags li:hover {
    background: var(--el-fill-color-dark);
}

.admin-ui-tags li.active {
    background: var(--el-color-primary);
}

.admin-ui-tags li.active a {
    color: var(--el-color-white);
}

.admin-ui-tags li.sortable-ghost {
    opacity: 0;
}

.admin-ui-main {
    overflow: auto;
    background-color: var(--el-bg-color);
    flex: 1;
}

/*页面最大化*/
.admin-ui.main-maximize {
    .main-maximize-exit {
        display: block;
    }

    .admin-ui-side-split,
    .admin-ui-side,
    .admin-ui-header,
    .admin-ui-topbar,
    .admin-ui-tags {
        display: none;
    }
}

.main-maximize-exit {
    display: none;
    position: fixed;
    z-index: 3000;
    top: -1.5rem;
    left: 50%;
    margin-left: -1.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main-maximize-exit i {
    font-size: 1rem;
    margin-top: 1.5rem;
    color: var(--el-color-white);
}

.main-maximize-exit:hover {
    background: rgba(0, 0, 0, 0.4);
}

/*定宽页面*/
.sc-page {
    width: 100rem;
    margin: 0 auto;
}

.no-zIndex .el-table__cell {
    z-index: unset;
}

.w15 {
    width: 15rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mt-8 {
    margin-top: 2rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mb-8 {
    margin-bottom: 2rem;
}

.w100p {
    width: 100%;
}

.h100p {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
}

.gap05 {
    gap: 0.5rem;
}

.gap10 {
    gap: 1rem;
}

.items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: right;
}

.font-monospace {
    font-family: 'Lucida Console', 'Microsoft YaHei', monospace;
}

.trace-log {
    font-family: 'Lucida Console', 'Microsoft YaHei', monospace;

    &:after {
        content: '';
        margin: 2rem 0;
        border-bottom: var(--el-color-primary) 1px dashed;
        display: block;
    }

    .w15 {
        font-weight: bold;
    }
}

.keywords-highlight {
    background-color: yellow;
    color: var(--el-color-black);
}

.el-table-column-avatar {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;

    > div:last-child {
        line-height: 1.2rem;

        > p:last-child {
            color: var(--el-color-info-light-3);
        }
    }
}

.sc-statistic-error {
    a,
    .sc-statistic-content-value {
        font-size: inherit;
        font-weight: bold;
        color: var(--el-color-danger) !important;
    }

    a:after {
        border-bottom: 1px solid var(--el-color-danger) !important;
        bottom: 0;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.color-secondary {
    color: var(--el-text-color-secondary);
}

.color-primary {
    color: var(--el-text-color-primary);
}

.color-regular {
    color: var(--el-text-color-regular);
}

.el-header.el-header-statistics {
    height: auto;
    padding: 1rem 1rem 0 1rem;
    display: block;
}

.el-header.el-header-select-filter {
    height: auto;
    padding: 0 1rem;
}

.children-nopadding {
    * {
        padding: 0 !important;
    }
}

.ace_placeholder {
    color: var(--el-text-color-secondary);
}