/* 覆盖element-plus样式 */

:root {
    --el-color-primary: rgba(0, 0, 0, 0);
    --el-font-size-base: 13px;
    --el-disabled-bg-color: --el-bg-color;
    --el-menu-horizontal-height: 4rem;
}

.el-form-item--default {
    --font-size: 1rem;
}

.el-upload--picture-card {
    --el-upload-picture-card-size: 10rem;
}

.el-input__inner,
.el-range-input {
    font-family: inherit;
}

.el-date-editor {
    --el-date-editor-daterange-width: 20rem;
    --el-date-editor-datetimerange-width: 27rem;

    .el-range-separator {
        flex: unset;
        padding: unset;
    }
}

.el-range-editor.el-input__wrapper {
    padding: 0 0.5rem;
    justify-content: space-around;
}

.el-menu {
    border: none !important;
}

.el-card {
    --el-card-padding: 1rem;
}

.el-menu .el-menu-item a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.el-form-item-msg {
    font-size: 1rem;
    color: var(--el-color-info);
    flex-grow: 1;
    line-height: 2rem;
}

.el-container {
    height: 100%;
}

.el-aside {
    border-right: 1px solid var(--el-border-color-light);
}

.el-container + .el-aside {
    border-right: 0;
    border-left: 1px solid var(--el-border-color-light);
}

.el-header {
    background: var(--el-color-white);
    border-bottom: 1px solid var(--el-border-color-light);
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --el-header-height: auto;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.el-header .left-panel {
    display: flex;
    align-items: center;
}

.el-header .right-panel {
    display: flex;
    align-items: center;
}

.el-footer {
    border-top: 1px solid var(--el-border-color-light);
    padding: 1rem;
    height: 4rem;
}

.el-main {
    padding: 1rem;
}

.el-main.nopadding {
    padding: 0;
    background: var(--el-color-white);
}

.el-drawer__body {
    overflow: auto;
    padding: 0;
}

.el-card__header {
    border-bottom: 0;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 1rem 0 1rem;
}

.el-dialog__title {
    font-size: 1.3rem;
    font-weight: bold;
}

.el-drawer__header > :first-child {
    font-size: 1.3rem;
    font-weight: bold;
}

.drawerBG {
    background: var(--el-bg-color);
}

.el-button + .el-dropdown {
    margin-left: 0.8rem;
}

.el-button-group {
    display: flex;
    justify-content: end;
}

.el-button-group + .el-dropdown {
    margin-left: 0.8rem;
}

.el-tag + .el-tag {
    margin-left: 0.8rem;
}

.el-button-group + .el-button-group {
    margin-left: 0.8rem;
}

.el-tabs__nav-wrap::after {
    height: 1px;
}

.el-table {
    td {
        font-family: 'Lucida Console', 'Microsoft YaHei', monospace;
    }

    .el-link:after {
        border-bottom: 1px solid var(--el-link-text-color);
        bottom: 0;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
    }
}

.el-table th.is-sortable {
    transition: 0.1s;
}

.el-table th.is-sortable:hover {
    background: var(--el-fill-color-dark);
}

.el-table .el-table__body-wrapper {
    background: var(--el-bg-color);
}

.el-col .el-card {
    margin-bottom: 1rem;
}

.el-main {
    flex-basis: 100%;
}

.el-main > .scTable .el-table--border::before {
    display: none;
}

.el-main > .scTable .el-table--border::after {
    display: none;
}

.el-main > .scTable .el-table--border .el-table__inner-wrapper::after {
    display: none;
}

.el-main > .scTable .el-table__border-left-patch {
    display: none;
}

.el-main > .scTable .el-table--border .el-table__inner-wrapper tr:first-child td:first-child {
    border-left: 0;
}

.el-main > .scTable .el-table--border .el-table__inner-wrapper tr:first-child th:first-child {
    border-left: 0;
}

.el-table * {
    font-size: 0.9rem;
}

.el-table.el-table--large * {
    font-size: 1rem;
}

.el-radio-button__inner {
    font-size: 0.9rem;
}

.el-checkbox-button__inner {
    font-size: 0.9rem;
}

.el-sub-menu .el-icon {
    font-size: 1.3rem;
}

.el-sub-menu .el-sub-menu__icon-arrow {
    font-size: 0.9rem;
}

.admin-ui-side-split li.active {
    background-color: var(--el-color-primary);
}

.admin-ui-tags li:hover {
    background-color: var(--el-color-primary-light-9);
}

.admin-ui-tags li.active {
    background-color: var(--el-color-primary) !important;
}

.contextmenu li:hover {
    background-color: var(--el-color-primary-light-9) !important;
    color: var(--el-color-primary-light-2) !important;
}

.data-box .item-background {
    background-color: var(--el-color-primary) !important;
}

.layout-setting,
.diy-grid-setting {
    background-color: var(--el-color-primary) !important;
}

.el-descriptions__body .el-descriptions__table {
    word-break: break-word;
}

.el-dialog.is-fullscreen {
    display: flex;
    flex-direction: column;
    top: 0 !important;
    left: 0 !important;

    .el-dialog__body {
        flex: 1;

        > * {
            height: 100%;
        }

        .el-tabs,
        .el-tab-pane,
        .el-form {
            height: 100%;
        }

        .el-tabs__content,
        .el-tabs__content > * {
            height: 100%;
        }

        .el-tab-pane {
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0; /* 隐藏纵向滚动条 */
                background: transparent; /* 隐藏背景 */
            }
        }
    }
}

.el-table thead.is-group th.el-table__cell {
    background: unset;
}

.el-descriptions__body .el-descriptions__table .el-descriptions__cell {
    font-size: inherit;
}

.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    --el-table-row-hover-bg-color: #fffaf0;
}

.el-popper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.el-collapse-item__header {
    color: var(--el-text-color-regular);
}

.admin-ui-header .el-drawer__header {
    margin-bottom: 0;
}