@media (max-width: 77rem) {
    // 移动端样式覆盖
    .el-form-item {
        display: block;
    }
    .el-form-item__label {
        display: block;
        text-align: left;
        padding: 0 0 1rem;
    }
    .el-dialog {
        width: 90% !important;
    }
    .el-dialog.is-fullscreen {
        width: 100% !important;
    }
    .el-drawer.rtl {
        width: 90% !important;
    }
    .el-form-item__content {
        margin-left: 0 !important;
    }

    .adminui-main {
        > .el-container {
            display: block;
            height: auto;
        }

        > .el-container > .el-aside {
            width: 100% !important;
            border: 0;
        }
    }
    .scTable {
        .el-table,
        .el-table__body-wrapper {
            display: block !important;
            height: auto !important;
        }

        .el-scrollbar__wrap {
            height: auto !important;
        }

        .scTable-page {
            padding: 0 0.4rem !important;
        }

        .el-pagination__jump {
            display: none;
        }

        .el-pagination__total,
        .el-pagination__jump,
        .el-pagination__sizes {
            .el-select {
                display: none;
            }
        }

        .scTable-do {
            display: none;
        }
    }

    .headerPublic {
        height: auto !important;
        display: block;

        .left-panel {
            overflow: auto;
        }

        .left-panel::-webkit-scrollbar {
            display: none;
        }

        .right-panel-search {
            flex-direction: column;
            align-items: flex-start;
        }

        .right-panel {
            margin-top: 1rem;
        }
    }
    .adminui-main > .el-container > *:first-child:not(.el-aside):not(.el-header) {
        border: 0;
        margin-top: 0;
    }
    .adminui-main > .el-container > *:first-child:not(.el-aside):not(.el-header) + .el-aside {
        margin-top: 0;
    }
    .adminui-main > .el-container > .el-aside {
        border-bottom: 1px solid var(--el-border-color-light) !important;
    }
    .adminui-main > .el-container > .el-container {
        border-top: 1px solid var(--el-border-color-light);
        border-bottom: 1px solid var(--el-border-color-light);
        margin-top: 1rem;
    }
    .adminui-main > .el-container > .el-container + .el-aside {
        border-top: 1px solid var(--el-border-color-light);
        margin-top: 1rem;
    }
    .adminui-main > .el-container > .el-header {
        @extend .headerPublic;
    }
    .adminui-main > .el-container > .el-main.nopadding {
        border-top: 1px solid var(--el-border-color-light);
        border-bottom: 1px solid var(--el-border-color-light);
        margin-top: 1rem;
    }
    .adminui-main > .el-container > .el-main + .el-aside {
        border-left: 0 !important;
        border-top: 1px solid var(--el-border-color-light);
        margin-top: 1rem;
    }
    .adminui-main > .el-container > .el-footer {
        margin-top: 1rem;
        border-bottom: 1px solid var(--el-border-color-light);
    }
    .adminui-main > .el-container > .el-container > .el-header {
        @extend .headerPublic;
    }
    .adminui-main > .el-container > .el-container > .el-header .left-panel {
        display: block;
    }
    .adminui-main > .el-container > .el-container > .el-header .right-panel {
        display: block;
        margin-top: 1rem;
    }

    .sc-page {
        width: 100%;
        margin: 0;
    }

    .common-main .el-form {
        width: 100% !important;
    }
    .common-header-logo label {
        display: none;
    }
    .common-header-title {
        display: none;
    }

    .user-bar .user-avatar label {
        display: none !important;
    }

    .sc-select-filter__item {
        width: 100% !important;
    }
}