/* profile */
.page-user {
    .el-aside {
        width: 20rem;
    }

    .el-header {
        display: block;
        height: auto;
    }

    .user-info-top {
        text-align: center;
    }

    .user-info-top p {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .menu {
        background: none;
    }

    .menu .el-menu-item-group {
        border-top: 1px solid var(--el-border-color-light);
    }

    .menu .el-menu-item-group:first-child {
        border: 0;
    }
}

/*common-page*/
.common-page {
}

.common-header-left {
    display: flex;
    align-items: center;
}

.common-header-logo {
    display: flex;
    align-items: center;
}

.common-header-logo img {
    height: 3rem;
    margin-right: 1rem;
    vertical-align: bottom;
}

.common-header-logo label {
    font-size: 1.5rem;
}

.common-header-title {
    font-size: 1.3rem;
    border-left: 1px solid var(--el-border-color-light);
    margin-left: 1rem;
    padding-left: 1rem;
}

.common-header-right {
    display: flex;
    align-items: center;
}

.common-header-right a {
    font-size: 1.3rem;
    color: var(--el-color-primary);
    cursor: pointer;
}

.common-header-right a:hover {
    color: var(--el-color-primary-light-3);
}

.common-container {
    max-width: 100rem;
    margin: 3rem auto 3rem auto;
}

.common-main {
    padding: 1.5rem;
}

.common-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
}

.common-main .el-form {
    width: 40rem;
    margin: 3rem auto;
}

.common-main .el-steps .el-step__title {
    font-size: 1.2rem;
}

.common-main .el-steps .el-step__icon {
    border: 1px solid;
}

.common-main .link {
    color: var(--el-color-primary);
    cursor: pointer;
}

.common-main .link:hover {
    color: var(--el-color-primary-light-3);
}