@import './base.css';


:root:root {
    font-size: 110%;
    --van-primary-color: var(--van-green);
    --van-back-top-background: var(--van-green);
    --van-dropdown-menu-title-font-size: 0.875rem;
    --van-dropdown-menu-height: 2.5rem;
    --van-dropdown-menu-shadow: none;
}